<section class="hero is-primary is-fullheight-with-navbar">
  <div class="hero-body">

  <% name = current_user.presence ? current_user.name : "Visitante!" %>

    <div class="columns is-half">
      <div class="column is-offset-one-quarter">
          <h1 class="title is-3">Olá <%= name %>, seja bem-vindo!</h1>
      <div class="column is-offset-one-quarter">
      </div>
      </div>
    </div>
  </div>
</section>